.layoutRoot {
  position: relative;
  min-height: 100dvh;
  background: #fafafa;
  display: flex;
  flex-direction: column;
}

.layoutContent {
  flex: 1;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
